@charset "utf-8";
/* CSS Document */
h1{
	text-align:center;
	font-size:10pt;
}
body{
	text-align:justify;
	float:right;
}
*{
	background-color: lightgray;
}
img{
	align-content:left;
	width: 30%;
}
div{
	float: right;
}